<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Usaremos el microfono para grabar el video del Tweet.</string>
	
    <key>NSCameraUsageDescription</key>
	<string>Usaremos la cámara para publicar tu Tweet.</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Usaremos tu ubicación para el Tweet! :)</string>
        
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Usaremos tu ubicación para el Tweet! :)</string>
</dict>
</plist>
